@charset "ISO-8859-1";

:root{
	--primayColor:rgb(8, 109, 21);
	--secondaryColor:rgb(192, 219, 17);
	--whiteColor:whitesmoke;
	--blackColor:black;
	--softGreenColor:#d9f2ee;
	--darkGreyColor:#a7a7a7;
	--greyColor:rgb(255, 255, 255);
}

*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
	outline: none;
	font-family: 'Roboto', sans-serif;
}

